<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <a routerLink="/login"><img class="img-fluid" src="assets/images/login.png" /></a>
    </div>
    <div class="col-md-6 login-form-2">
      <div class="top-head">
        <h4>FORGOT PASSWORD</h4>
      </div>
      <div *ngIf="forgetPasswordFormSuccess" class="alert alert-success">{{messasge}}</div>
      <form *ngIf="!forgetPasswordFormSuccess" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" #myform="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email Address *" formControlName="email">
          <div class="invalid-feedback" *ngIf="forgetPasswordForm.controls.email.invalid && (forgetPasswordForm.controls.email.dirty ||
            forgetPasswordForm.controls.email.touched || myform.submitted)"
          >
            <div *ngIf="forgetPasswordForm.controls.email.errors.required">Email is required.</div>
            <div *ngIf="forgetPasswordForm.controls.email.errors.email || forgetPasswordForm.controls.email.errors.pattern">{{'valid_email_is_required' | translate}}</div>
          </div>
        </div>
        <div class="form-group d-flex">
          <a class="btnForgetPwd cp small float-right frget-password text-Astral" routerLink="/login">Login</a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block theme-btn" [disabled]="showForgetPasswordFormLoader">
            <span [ngClass]="{'spinner-border spinner-border-sm':showForgetPasswordFormLoader}"></span> Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
